@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Serif', serif;
}

p{
    color: #ffffff;
}

.indented{
    text-indent: 75px;
}

b{
    color: #ffffff;
}

header{
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    font-size: xx-large;
}

i{
    color: #ffffff;
}

span{
    color: #ffffff;
}



body{
    
    background-image: url(https://media.discordapp.net/attachments/945951090027933699/998049419884769320/177050_2.gif);
}

.image{
    display: flex;
    align-items: center;
    justify-content: center;
}

#headerbanner{
    margin: 2vh;
    display: flex;
    align-items: left;
    justify-content: left;
}

.right {
    right: 5px;
    width: 250px;
    padding-top: 45px;
    font-size: x-large;
  }



  .left {
    left: 5px;
    width: 1150px;
    padding-left: 50px;
    padding-top: 100px;
    padding-bottom: 40px;
    font-size: x-large;
  }

.selectedbutton{
    color: #aaaaaa
}

hr{
    margin-bottom: 20px;
}

#horse{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5000px;
}

/* unvisited link */
a:link {
    color: white;
  }
  
  /* visited link */
  a:visited {
    color: white;
  }
  
  /* mouse over link */
  a:hover {
    color: white;
  }
  
  /* selected link */
  a:active {
    color: gray;
  }


