/*@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');*/


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Verdana', sans-serif;
}

p{
    color: #ffffff;
}

.indented{
    text-indent: 75px;
}

b{
    color: #ffffff;
}

header{
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    font-size: xx-large;
}

i{
    color: #ffffff;
}

span{
    color: #ffffff;
}

body{
  background-image: var(--main-background-gif);
}

label{
  color: #ffffff;
}


.container{
  position: relative;
  background-image: var(--center-background-gif);
  margin-left: 24vw;
  padding-left: 1vh;
  margin-right: 24vw;
  padding-right: 1vh;
  padding-bottom: 4vh;
  box-shadow: inset -2px 0px 0px 0px rgb(255, 255, 255), 
  inset 2px 0px 0px 0px rgb(255, 255, 255), 
  inset 0px -2px 0px 0px rgb(255, 255, 255), 
  00px 0px 15px 15px var(--theme-color); 
}

.image{
    display: flex;
    align-items: center;
    justify-content: center;
}

#headerbanner{
  position: relative;
  background: linear-gradient(#000000, 80%, var(--theme-color) /*#51009c*/);
    display: flex;
    align-items: left;
    justify-content: left;
    z-index: 1;
}
#gangstarbanner{
  z-index: 2;
  filter: drop-shadow(2px 2px 0px rgb(0, 0, 0));
 /* margin-left: 24vw;*/
}
#headerbuttons{
  position: relative;
  display: flex;
  align-items: right;
  justify-content: right;
  background-image: var(--main-background-gif);
  box-shadow: 0px 14px 10px 2px rgba(0,0,0, .8);
  z-index: 1;
}

.right {
  margin-right: 2vw;
  margin-left: 2vw;
    font-size: small;
  }

  #lastbutton{
    margin-right: 24vw;
    font-size: small;
  }


  .left {
    left: 5px;
    width: 550;
    padding-left: 50px;
    padding-top: 100px;
    padding-bottom: 40px;
    font-size: x-large;
  }

  .center {
    text-align: center;
  }



.selectedbutton{
    color: #aaaaaa
}

hr {
  position: relative;
  z-index: 2;
  border: none;
  height: 2px;
  background-color: #ffffff;
}

iframe {
  overflow: hidden;
  width: 1350px;
  height: 1100px;
  display: block;
  border-style:none;
  align-items: center;
  justify-content: center;
}

#horse{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5000px;
}

#chess{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-left: 250;
  border: none;
}

#actualchess{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-left: 520;
  border: none;
}




/* unvisited link */
a:link {
    color: white;
  }
  
  /* visited link */
  a:visited {
    color: white;
  }
  
  /* mouse over link */
  a:hover {
    color: white;
  }
  
  /* selected link */
  a:active {
    color: gray;
  }

  .column {
    float: left;
    width: 50%;
    padding: 5px;
  }

  .row::after {
    clear: both;
    display: table;
  }