@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Serif', serif;
}

p{
    color: #ffffff;
}

b{
    color: #ffffff;
}

header{
    text-align: center;
    color: #ffffff;
    font-weight: bold;
    font-size: xx-large;
}

i{
    color: #ffffff;
}

span{
    color: #ffffff;
}

body{
    
    background-image: url(https://media.discordapp.net/attachments/945951090027933699/998049419884769320/177050_2.gif);
}

.image{
    display: flex;
    align-items: center;
    justify-content: center;
}

#headerbanner{
    margin: 2vh;
    display: flex;
    align-items: left;
    justify-content: left;
}

#meetbutton{
    display: flex;
    align-items: right;
    justify-content: right;
}
